<div class="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="assets/images/logo3.png" class="img-fluid w-50" alt=""></a>
                <button class=" navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#" [routerLink]="'home'">home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" [routerLink]="'dashboard'">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" [routerLink]="'product'">product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" [routerLink]="'cart'">your cart</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>