<div class="container">
    <div class="row text-center">
        <h1>Product detail</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="image">
                <img [src]="product.image" alt="" class="img-fluid">
            </div>

        </div>
        <div class="col-md-7 ms-5 content" *ngIf="product">
            <h6>id: {{product.id}}</h6>
            <h3>{{product.name}}</h3>
            <h5>Category: {{product.category}}</h5>
            <h5>Price: {{product.price}} BDT</h5>
            <h6>product short code: {{product.shortCode}}</h6>
            <p>Description:{{product.description}} || Available nuumber of product in stock:{{product.countInStock}} ||
                Product Creation Date:{{product.dateCreated}} ||
                Origin:{{product.origin}}</p>

        </div>
    </div>
</div>