<div class="container">
    <div class="row text-center">
        <h1>Product detail</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="image">
                <img src="assets/images/p1.png" alt="" class="img-fluid">
            </div>

        </div>
        <div class="col-md-7 ms-5 content">
            <h3>Cabbage</h3>
            <h5>Price: 30 BDT/KG</h5>
            <h6>product short code: 6578</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, delectus necessitatibus. Laborum
                mollitia, rerum illo distinctio hic earum quas. Libero officiis voluptates dicta eveniet officia velit
                cupiditate facere soluta corrupti?</p>

        </div>
    </div>
</div>