<div class="container">
    <section class="card">
        <div class="image">
            <img src="./assets/images/p1.png" class="img-fluid" alt="">
        </div>
        <div class="content text-center">
            <h3>Cabbage</h3>
            <p>Price: 30 BDT/KG</p>
            <a href="" class="btn button">show detail</a>
        </div>
        <div class="add-cart">
            <div class="minus">
                <a href=""><span>-</span></a>
            </div>
            <div class="add">
                <a href="">add to cart</a>
            </div>
            <div class="plus">
                <a href=""><span>+</span></a>
            </div>
        </div>
    </section>
</div>