<div class="container">
    <div class="row">
        <div class="col-md-6 m-auto text-center">
            <!--  -->
            <!-- <div *ngFor="let item of cartItemsDetailed">
                <h1>{{item.product.name}}</h1>
                <p>{{item.product.price}}</p>
                <button mat-icon-button color="warn" (click)="deleteCartItem()">
                    <mat-icon>delete</mat-icon>
                </button>
                <input type="number" id="quantity">
                <p>total price:{{item.product.price * item.quantity}}</p>
            </div> -->

            <h1>cart is under development</h1>
        </div>
    </div>
</div>