h1 {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    margin-top: 8%;
    margin-bottom: 30px;
    background: #cf1b1b6b;
    padding-top: 10px;
    padding-bottom: 15px;

}