<div class="container">
    <div class="row mt-5 mb-3">
        <div class="col-md-3 mb-5" *ngFor="let prod of products">
            <section class="card">
                <div class="image">
                    <img [src]="prod.image" class="img-fluid" alt="">
                </div>
                <div class="content text-center">
                    <h3>{{prod.name}}</h3>
                    <p>Price: {{prod.price}}</p>
                    <button mat-stroked-button class="button"><a href="" [routerLink]="'/dashboard/'+prod.id">see
                            detail</a></button>
                    <!-- <a href="" [routerLink]="'detail'">see
                        detail</a> -->
                </div>
                <div class="add-cart">
                    <div class="minus">
                        <a href=""><span>-</span></a>
                    </div>
                    <div class="add">
                        <a href="">add to cart</a>
                    </div>
                    <div class="plus">
                        <a href=""><span>+</span></a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<router-outlet></router-outlet>