<section class="banner">
    <div class="row">
        <div class="col-md-7 m-auto text-center">
            <h1>"Sell-Commerce," offers the finest quality and customer service for all of your daily necessities.</h1>
            <button mat-stroked-button class="button" (click)="goToDetail()"><a href="" routerLink="'dashboard'">shop
                    now</a></button>
        </div>
    </div>
</section>
<footer>
    <div class="row text-center">
        <p>copyright &copy; 2022-All right reserved by <span>sell-commerce</span></p>
    </div>
</footer>