.banner {
    background-image: url(src/assets/images/banner6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    margin-top: -2%;
}

h1 {
    color: #46106f;
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: #a095a8c7;
    padding: 20px 50px;
    border-radius: 43px;
    margin-top: 20%;
}

footer p {
    color: #9574ad;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    padding-top: 10px;
}

a {
    color: #fff;
    text-decoration: none;
    background: #9574ad;
    border: 1px solid #9574ad;
    text-transform: uppercase;
    padding: 3px 10px;
    border-radius: 10;
}

button {
    color: #fff;
    background: #9574ad;
    border: 1px solid #9574ad;
    text-transform: uppercase;
    margin-top: 10px;
}